@charset "utf-8";
@import url("normalize.css");
@import url("fonts.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

/* 초기화 스타일 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans Regular", sans-serif;
  font-size: 14px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.header {
  width: 1000px;
  margin: 0 auto;
}

.readable-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  z-index: 10;
}

/* 헤더 */
.header {
  position: relative;
}

/* 로고 */
.logo {
  float: left;

  width: 235px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}


/* 멤버 */
.member {
  /* background: cornflowerblue; */
  float: right;
  line-height: 50px;
}

.member li {
  float: left;
  font-size: 14px;
}

.member li::after {
  content: "|";
}

.member li:last-child::after {
  content: "";
}

.member a{
  padding: 7px 14px;
}

/* 검색 */
.search {
  width: 490px;
  height: 50px;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  top: 50px;
  right: 0;
}

.search-box {
  width: 400px;
  height: 35px;

  padding: 2px;
  padding-left: 10px;

  border: 1px solid #555;
  border-radius: 5px;
}

.search-btn {
  width: 50px;
  height: 35px;

  margin-left: 10px;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 5px;

  background: #988574;
  color: #fff;
}


/* 네비게이션 */
.navigation {
  background: #988574;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding-top: 21px;
}

.menu {

  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.menu-list {
  color: #fff;
}

.menu-item {
  display: block;
  padding: 9px 0;

  font-size: 1.8rem;
  font-family: "Noto Sans Bold", sans-serif;
  text-shadow:1px 0 0 #000, 
              0 1px 0 #000, 
              -1px 0 0 #000, 
              0 -1px 0 #000;
}

.sub-menu {
  margin-top: 8px;
}

.sub-menu li {
  margin: 8px 0 8px 16px;
  font-size: 1.6rem;
}

.sub-menu li a {
  display: block;
  padding: 8px 0;
}

.sub-menu li a:hover {
  color: #ff0;
}


/* 메인 */
.main {
  background: #555;
  height: 800px;
}