@charset "utf-8";
@import url("normalize.css");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("fonts.css");
@import url("reset.css");
/* 숨김 콘텐츠 */
.readable-hidden, legend{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
    overflow: hidden;
}
/* 아이콘 폰트 */
.icon::before{
    font-family: "webcafeIcon";
    position: relative;
    top: 2px;
}
.icon-r::before{
    content: "r";
}
.icon-c::before{
    content: "c";
}
.icon-g::before{
    content: "g";
}
.icon-z::before{
    content: "z";
}
.icon-p::before{
    content: "p";
}
/* 기본 스타일 */
*, *::before, *::after{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
/* 본문 스타일 */
body{
    color: #181818;
    background-color: #fff;
    font-size: 1.4rem;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
}
/* 하이퍼링크 스타일 */
a{
    color: inherit;
    text-decoration: none;
}
/* float 이슈를 해결하기 위한 선언 */
.clearfix::after{
    content: "";
    background-color: aqua;
    clear: both;
    display: block;
}
/* 레이아웃 */
.wrapper{
    background: url("images/bg_flower.png") no-repeat 50% 15px,
    linear-gradient(to bottom, #aaa 0%, #ccc 50%, #fff 70%, #fff 100%) ;
    background-color: #aaa;
}
.header, .visual, .main-content, .slogan, .footer{
    width: 940px;
    margin: 0 auto;
}
/* 헤더 */
.header{
    background-color: #fff;
    position: relative;
    padding: 5px 30px 30px;
    border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo{
    position: absolute;
    top:47px;
    left:60px;
}
/* 멤버 링크 */
.member{
    text-align: right;
    font-size: 0;
    text-transform: uppercase;
    position: relative;
}
.member li, .member a{
    display: inline-block;
    font-size: 1.4rem;
}
.member li:nth-child(n+2)::before{
    content: ":";
}
.member a{
    padding: 5px;
}
/* 메인 메뉴 */
.main-menu{
    border-top: 2px solid currentColor;
    background:#d67028 linear-gradient(to bottom, #f4b030 0%,#d67028 35%,#d67028 70%,#f4b030 100%);
    margin-top: .5em;
    padding-left: 225px;
    height: 47px;
}
.main-menu > li{
    float:left;
    position: relative;
}
.menu-item{
    cursor: pointer;
    display: block;
    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
    line-height: 45px;
    padding: 0 20px;
    border-left: 2px solid rgba(255,255,255,.5);
    text-shadow: 1px 0 0 #000, 
                 0 1px 0 #000, 
                 -1px 0 0 #000, 
                 0 -1px 0 #000;
}
.sub-menu{
    position: absolute;
    top: 49px;  
    white-space: nowrap;
    display: none;
}
.is-act .sub-menu{
    display: block;
}
.is-act .menu-item{
    color: #ff0;
}
.is-act .menu-item::after{
    content: "";
    display: block;
    height: 2px;
    background: #000;
}
.sub-menu1, .sub-menu2, .sub-menu3{
    left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
    right: 0;
}
.sub-menu li{
    display: inline-block;
    margin-right: .5em;
}
.sub-menu a{
    display: inline-block;
    padding: .3em 0;
}
.sub-menu a::before{
    content: "r";
    font-family: "webcafeIcon";
    position: relative;
    top: 2px;
}
.sub-menu a:hover::before, 
.sub-menu a:focus::before{
    content: "c";
}
/* 비주얼 */
.btn-visual{
    position: fixed;
    top: 10px;
    right: 10px;
    background: #000;
    border: 0;
    padding: 0.5em 1em;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.is-stop::before, .is-stop::after{
    animation-play-state: paused;
}

@keyframes bgAni{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes textAni{
    0%{
        font-size: 12px;
        color: rgba(0,0,0,0);
        transform: translate(0,0);
    }
    100%{
        font-size: 24px;
        color: rgba(0,0,0,1);
        transform: translate(400px, 75px)
    }
}
.visual{
    height: 120px;  
    position: relative;  
}
.visual::before, .visual::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation-name: bgAni;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.38,-0.63,.83,.67);
}
.visual::before{
    background: url("images/ani_flower_01.png") no-repeat 10px -15px,
    url("images/ani_flower_02.png") no-repeat 670px 0;
}
.visual::after{
    animation-delay: 1s;
    background: url("images/ani_flower_03.png") no-repeat 300px 0,
    url("images/ani_flower_04.png") no-repeat 800px 0;
}
.visual-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    z-index: 100;
    animation-name: textAni;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
/* 메인 콘텐츠 */
.main-content{
    background-color: #fff;
    padding: 30px 15px;
    border-radius: 15px 15px 0 0;
}
.group{
    margin: 0 15px;
    float: left;
}
.group1{
    width: 250px;
}
.group2{
    width: 380px;
}
.group3{
    width: 190px;
}
/* 메인 콘텐츠 섹션 공통 */
.group > section{
    margin-bottom: 20px;
}
/* 로그인 */
.login{
    background: radial-gradient(circle at right top,hsla(20,70%,60%,1), hsla(10,70%,50%,1));
    background-color: #d67028;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 0 0 #999;
}
.login-heading{
    color: #ff0;
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 10px;
}
.login-form{
    background: #fff;
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    border-radius: 5px 5px 0 0;   
}
.login-form fieldset{
    position: relative;
    border-bottom: 1px solid #999;
    padding-bottom: 4px;
}
.login-form p{
    margin-bottom: 6px;
}
.login-form label{
    display: inline-block;
    width: 4em;
}
.login-form input{
    width: 100px;
    height: 22px;
    border: 1px solid #999;
    padding: 1px 1px 1px 5px;
}
.btn-login{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    background: hsla(10,70%,50%,1);
    color: #fff;
    padding: 0;
    font-size: 1.2rem;
}
.sign{
    background: #fff;
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
}
.sign a{
    display: block;
    padding: 5px 0;
    letter-spacing: -1px;
}
.sign a::before{
    color: hsla(10,70%,50%,1);
}
/* 유효성 검사 배너 */
.validation-list li{
    background: url("images/validation_icon.png") no-repeat 10px 50%,
    linear-gradient(to bottom, #aaa, #ccc);
    background-color: #aaa;
    margin: 10px 0;
    height: 30px;
    line-height: 27px;
    border: 1px solid #999;
    border-radius: 15px;
    text-indent: 35px;
}
.validation-list a{
    display: block;
}
/* 웹 관련 용어 */
.term{
    background: linear-gradient(to bottom, #aaa, #ccc);
    background-color: #aaa;
    padding: 10px 15px;
    border: 1px solid #999;
    border-radius: 5px;
}
.term-heading{
    font-size: 1.5rem;
}
.term-list{
    margin-top: 10px;
}
.term-list-subject, .term-list-brief{
    float: right;
    width: 145px;
}
.term-list-subject{
    color: #296897;
    font-weight: 700;
}
.term-list-thumbnail{
    float: left;
}
.term-list-thumbnail img{
    display: block;
}
.term-list-brief{
    line-height: 1.5;
    margin-top: 10px;
}
.term-list div:nth-child(even){
    margin-top: 10px;
}
.term-list div:nth-child(even) .term-list-subject,
.term-list div:nth-child(even) .term-list-brief{
    float: left;
}
.term-list div:nth-child(even) .term-list-thumbnail{
    float: right;
}
/* 검색 폼 */
.search-form{
    background: linear-gradient(to bottom, #aaa, #ccc);
    background-color: #aaa;
    border-radius: 25px 25px 0 0;
    border: 1px solid #999;
    border-bottom-color: #fff;
    padding: 15px 25px 10px;
}
.search-form input{
    width: 200px;
    height: 22px;
    border: 1px solid #999;
    padding: 1px 1px 1px 5px;
    border-radius: 3px;
}
.search-form-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-search{
    border: 1px solid #999;
    padding: 0 10px;
    height: 22px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #181818, #666);
    background-color: #181818;
    color: #fff;
}
/* 공지사항 및 자료실 */
.board{
    position: relative;
}
.notice-list, .pds-list, .notice-more, .pds-more{
    display: none;
}
.is-act .notice-list, .is-act  .pds-list, 
.is-act  .notice-more, .is-act .pds-more{
    display: block;
}
.notice-heading, .pds-heading{
    position: absolute;
    top: 0;
}
.notice-heading{
    left: 0;
}
.pds-heading{
    left: 73px;
}
.tab{
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 5px 5px 0 0;
    padding: 8px 10px;
    background: linear-gradient(to bottom, #aaa, #ccc);
    background-color: #aaa;
    color: #666;
    font-size: 1.4rem;
}
.is-act .tab{
    background: #fff;
    color: #d67028;
    border-color: #d67028;
    border-bottom-color: #fff;
}
.notice-list, .pds-list{
    padding-top: 45px;
}
.notice-list li, .pds-list li{
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}
.notice-list a, .pds-list a{
    width: calc(100% - 100px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice-more, .pds-more{
    position: absolute;
    top: 0;
    right: -8px;
    padding: 8px;
}
.notice-more::before, .pds-more::before{
    color: hsla(120, 30%, 30%, 1);
}
/* 새소식 */
.news{
    margin-top: 20px;
    position: relative
}
.news::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 80%;
    height: 1px;
    background: linear-gradient(to right, #999, #eee);
}
.news-heading{
    font-size: 1.6rem;
    color: #d67028;
}
.news-origin{
    display: block;
}
.news-item{
    margin-top: 30px;
    padding-left: 130px;
    position: relative;
    min-height: 110px;
}
.news-item-heading{
    font-size: 1.4rem;
}
.news-item-date{
    display: block;
    margin: 5px 0 10px 1em;
}
.news-item-brief{
    line-height: 1.5;
    margin: 10px 0 0 1em;
}
.news-item-thumbnail{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
.news-item-thumbnail img{
    box-shadow: 0 10px 20px 5px #999;
    margin-bottom: 15px;
}
.news-more{
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}
.news-more::before{
    color: hsla(120, 30%, 30%, 1);
}
/* 신규 이벤트 및 관련 사이트, 인기사이트 공통 */
.event-related, 
.favorite{
    border: 1px solid #999;
    border-radius: 5px; 
    background: linear-gradient(to bottom, #ccc, #aaa);
    background-color: #aaa;
    padding: 10px;
}
.event-heading, 
.related-heading, 
.favorite-heading{
    font-size: 1.5rem;
}
.event-heading span, 
.related-heading span, 
.favorite-heading span{
    color: #d67028;
}
/* 신규 이벤트 */
.event{
    position: relative;
    border-bottom: 1px solid #999;
}
.event-thumbnail, .event-brief{
    margin: 10px 0;
}
.event-thumbnail img{
    border: 1px solid #999;
    box-shadow: 5px 5px 0 0 #999;
}
.event-brief em{
    font-style: normal;
}
.btn-event{
    overflow: hidden;
    height: 18px;
    position: absolute;
    top: 0;
    right: 0;
}
.btn-event button{
    width: 19px;
    border: 0;
    padding: 18px 0 0 0;
    background-image: url("images/back_forward.png"); 
    background-repeat: no-repeat;
}
.btn-event-next{
    background-position: 100% 0;
}
/* 관련 사이트 */
.related{
    padding-top: 10px;
}
.related-list{
    margin-top: 10px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 5px;
    height: 27px;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
.related-list:hover{
    height: 147px;
    padding: 10px 0;
}
.related-list a{
    display: block;
    height: 25px;
    line-height: 25px;
    padding-left: 25px;
}
/* 인기 사이트 */
.favorite{
    margin-top: 20px;
    position: relative;
}
.favorite-list{
    margin-top: 10px;
    overflow: hidden;
    counter-reset: number;
}
.favorite-list li{
    position: relative;
    margin-top: 5px;
    counter-increment: number;
}
.favorite-list li::before{
    content: counter(number, decimal);
    color: #fff;
    background: #666;
    padding: 0 5px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 1.2rem;
}
.favorite-list em{
    position: absolute;
    top: 50%;
    right: 0;
    background-image: url("images/rank.png");
    background-repeat: no-repeat;
    font-style: normal;
    width: 9px;
    height: 11px;
    padding-top: 11px;
    overflow: hidden;
    transform: translateY(-50%);
}
.stop{
    background-position: 0 50%;
}
.down{
    background-position: 0 100%;
}
.favorite-more{
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 8px;
}
.favorite-more::before{
    color: hsla(120, 30%, 30%, 1);
}

/* 슬로건 */
.slogan{
    position: relative;
    padding-bottom: 10px;
}
.slogan-heading{
    width: 110px;
    height: 83px;
    position: absolute;
    bottom: -25px;
    left: 30px;
    text-align: center;
    line-height: 83px;
}
.slogan-heading::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("images/coffee.png") no-repeat;
}
.slogan-content{
    margin-left: 170px;
    margin-right: 100px;
    color: #a09784;
}
.slogan-content q{
    font-weight: 700;
}
.slogan-content q::before{
    position: relative;
    top: 10px;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.slogan-content q::after{
    content: "";
}
/* 푸터 */
.footer-bg{
    background: linear-gradient(to bottom, #aaa 0%, #ccc 70%,#fff 100%);
    background-color: #aaa;
}
.footer{
    padding: 10px 100px 10px 170px;
    position: relative;
}
.footer-logo{
    position: absolute;
    top: 30px;
    left: 30px;
}
.guide{
    background: #7b8385;
    color: #fff;
    border-radius: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.guide a{
    display: block;
    text-transform: uppercase;
}
.address, .copyright{
    margin: 10px 0;
}
.address span{
    margin-right: 10px;
}
.tech-logo{
    position: absolute;
    top: 10px;
    right: 0;
}