*, h1, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

body {
    font-size: 14px;
    line-height: 1;
}

html {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.4rem;
}

/* background */

[class*="background"] {
    width: 500px;
    height: 500px;
    border: 1px solid #aaa;
}

.background1 {
    background: url("../img/css3_logo.png") no-repeat 50% / 50px 50px;
}

.background2 {
    background: url("../img/css3_logo.png") no-repeat 20px 20px / 50px 50px;
}

.background3 {
    background: url("../img/css3_logo.png") no-repeat 20px 20px / 50px 50px, 
                linear-gradient(45deg, #ff0 0%, #fff 30%, #ff0 60%, #fff 100%) 0 0;
}


/* p:nth-of-type(3) {
    color: #ff0;
    font-weight: bold;
} */

div:nth-child(2):nth-child(2){
    color: #ff0;
}