/* 초기선언 */

a {
    text-decoration: none;
    color: #000;
    display: block;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

* {
    margin: 0;
    list-style: none;
}

/* 래퍼 */
.content-wrap {
    width: 1280px;
    margin: 0 auto;
    /* background: gray; */
}

/* 헤더 */
.header {
    background: lightcoral;
}

/* 메인콘텐츠 */
.main-section{
    margin: 20px 0;
    background: #000;

    display: flex;   
    justify-content: space-evenly; 
    flex-direction: row;
}

[class*="card"]{
    width: 18%;
    height: 300px;
    background: lightslategray;
}
